.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFF8;
  height: 100vh;
}
.container > p {
  margin: inherit;
  margin-bottom: 20px;
}
.container > p:first-of-type {
  margin: auto 0 5px 0;
}

.columnsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1600px;
  height: 60%;
  margin-top: auto;
}

.columnsContainer > div {
  margin: 1em;
}

.columnsContainer fieldset {
  width: 100%;
}

.columnsContainer > div h2:first-child {
  margin-top: 0.8em
}

.table {
  margin-top: 1em;
}

.table thead tr th:first-child {
  font-weight: bold;
}

.tableActions button {
  min-width: 0;
}

.table button {
  padding: 0;
}


.toogleButtonIcon {
  margin-right: 0.2em;
  position: relative;
  top: -0.02em;
}

.settingsPaper {
  padding: 0px 1em 1em 1em;
  min-width: 290px;
  width: 100%;
  overflow: scroll;
}

.settingsPaper h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
  
.settingsPaper h2 button {
  top: 2px;
  min-width: 34px;
}
.settingsPaper h2 button > svg {
  margin-right: 0;
}

.settingsPaper .noStream {
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


@media (min-width: 540px) {
  .previewPaper {
    min-width: 500px;
  }

  .settingsPaper {
    max-width: 360px;
  }
}

.previewPaper {
  background-color: #444F6C;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.previewPaper > p {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
